@import "../styling/colors.scss";
@import "../styling/spacing.scss";
@import "../styling/helpers.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  font-weight: 500;
  color: var(--color-info);
  text-decoration: inherit;

  &:hover {
    color: var(--color-info-700);
  }
}

h1 {
  font-size: 4.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  line-height: 1;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
}

button {
  &:disabled {
    cursor: default;
  }
}

.spin {
  animation: rotate 500ms linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
