@import "../styling/colors.scss";
@import "../styling/spacing.scss";
@import "../styling/helpers.scss";

.app {
  height: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: var(--spacing-40);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--spacing-16);
  background-color: var(--color-background);
  color: var(--color-white);

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-16);
    width: fit-content;
    padding: var(--spacing-20);
    z-index: 10;
  }

  &__intro-title {
    text-align: center;
  }

  &__intro-description {
    text-align: center;
  }
}
